.nav {
    grid-area: n;
    background-color: #fff;

    .menu {
        margin: 20px;

        .item {
            color: rgb(255, 255, 255);
            margin-top: 10px;
            padding: 5px;
            border-radius: 3px;
            transition-duration: .5s;

            a {
                color: #777777;
                text-decoration: none;
            }

            .active {
                color: #007bff;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.gold {
    color: gold;
}